@charset "UTF-8";

/* CONFIGURAÇÃO PARA TELAS:
Tablet: 768 até 992
Desktop e telas grandes: 992 a 1200px */

@media screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background-image: linear-gradient(to top, #45DBE0, #1C80EB, #1D22E1);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 65%;
    }
}

@media screen and (min-width:900px) {
    body {
        background-image: linear-gradient(to top, #45DBE0, #1C80EB, #1D22E1);
    }
    section#idlogin {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }
    div#formulario > h1 {
        font-size: 2em;
    }
    div#formulario > p {
        font-size: 1.2em;
    }
}